<div class="main">

    <app-nav-bar></app-nav-bar>
  
    <div class="content">
  
        <div>
        <button class="burger" (click)="open()">☰</button>
        </div>
    
        <div  class="mt-3 mx-20 h1 text-secondary">
        List des Partis
            <div style="margin-left: 900px;">
                <button routerLink="/parametres" mat-stroked-button color="primary">Parametres</button>
            </div>
        </div>

        <div class="mt-3 p-12 m-20 br-2 white center_block">

            <div class="mt-3 p-4 m-20 br-2 white center_block">
              <div class="p-4 flex space">
                <button  (click)="openDialogCreation()" mat-stroked-button color="primary">Creer</button>
                <button (click)="exportToExcel()" mat-stroked-button color="primary">Exporter</button>
                <!-- <div class="flex user_info"> -->
          
                  <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-outline-primary" type="button">Button</button>
                    <button class="btn btn-outline-secondary" type="button">Button</button>
                  </div> -->
          
                <!-- </div> -->
              </div>
            </div>
        
            <div class="main-searchbar" debounce="500">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event)" placeholder="Filter" animated>
              </mat-form-field>
            </div>
        
            <!-- <mat-card> -->
        
              <div class="mat-elevation-z8">

                <table mat-table [dataSource]="dataSource">
  
                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef> No. </th>
                      <td mat-cell *matCellDef="let element"> {{element.idParti}} </td>
                    </ng-container>
              
                    <!-- Weight Column -->
                    <ng-container matColumnDef="code">
                      <th mat-header-cell *matHeaderCellDef> Code </th>
                      <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                    </ng-container>
                
                    <!-- Name Column -->
                    <ng-container matColumnDef="nom">
                      <th mat-header-cell *matHeaderCellDef> Nom </th>
                      <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
                    </ng-container>
              
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> actions </th>
                        <td mat-cell *matCellDef="let element; let i=index"> 
                          <mat-icon (click)="openDialog(element.idParti)" style="margin-right: 27px; color: rgb(120, 120, 248);">view_column</mat-icon>
                          <mat-icon (click)="openDialog2(element.idParti)" style="margin-right: 27px; color: rgb(120, 120, 248);">open_in_new</mat-icon>
                          <mat-icon (click)="openDialog3(element.idParti, i)" style="margin-right: 27px; color: rgb(120, 120, 248);">delete_in_new</mat-icon>
                        </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                               showFirstLastButtons 
                               aria-label="Select page of periodic elements">
                </mat-paginator>
              </div>
          
            <!-- </mat-card> -->
        
            <div class="p-4 flex space">
              <div class="flex user_info">
              </div>
            </div>
          </div>

    </div>
    
</div>