
<mat-card class="example-card" >

    <mat-card-subtitle>Creation des types de rapport</mat-card-subtitle><br><br>
    <!-- <mat-card-title>Motif</mat-card-title><br> -->

    <mat-card-content>

        <form class="example-form" [formGroup]="Form" (ngSubmit)="submit(Form)" >
            
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Code</mat-label>
                <input type="text" id="code" formControlName="code" matInput [errorStateMatcher]="matcher"
                       placeholder="veuillez inserer le motif">
                <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="isSubmitted && code.hasError('code') && !code.hasError('required')">
                  Please enter a valid code length
                </mat-error>
                <mat-error *ngIf="isSubmitted && code.hasError('required')">
                    code is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Libelle</mat-label>
                <input type="text" id="libelle" formControlName="libelle" matInput [errorStateMatcher]="matcher"
                       placeholder="veuillez inserer le motif">
                <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="isSubmitted && libelle.hasError('libelle') && !libelle.hasError('required')">
                  Please enter a valid libelle length
                </mat-error>
                <mat-error *ngIf="isSubmitted && libelle.hasError('required')">
                    libelle is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Debut Plage</mat-label>
                <input type="Time" id="debutPlage" formControlName="debutPlage" matInput [errorStateMatcher]="matcher"
                       placeholder="veuillez inserer le debutPlage">
                <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="isSubmitted && debutPlage.hasError('debutPlage') && !debutPlage.hasError('required')">
                  Please enter a valid debutPlage length
                </mat-error>
                <mat-error *ngIf="isSubmitted && debutPlage.hasError('required')">
                    debutPlage is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Fin Plage</mat-label>
                <input type="Time" id="finPlage" formControlName="finPlage" matInput [errorStateMatcher]="matcher"
                       placeholder="veuillez inserer le finPlage">
                <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="isSubmitted && finPlage.hasError('motife') && !finPlage.hasError('required')">
                  Please enter a valid finPlage length
                </mat-error>
                <mat-error *ngIf="isSubmitted && finPlage.hasError('required')">
                    finPlage is <strong>required</strong>
                </mat-error>
            </mat-form-field>

        </form>

    </mat-card-content>

    <!-- <mat-divider inset></mat-divider> -->

    <!-- <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer> -->

</mat-card>


  <mat-dialog-actions align="end" *ngIf="List">
    <button mat-button mat-dialog-close style="background-color: rgb(250, 250, 250);" expand="block" fill="outline" (click)="submit(Form)" [disabled]="!Form.valid">submit</button><br>
    <button mat-button mat-dialog-close style="background-color: rgb(120, 120, 248);" (click)="close()">Fermer</button>
    <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
  </mat-dialog-actions>