
<mat-card class="example-card" >

  <mat-card-subtitle>Renvoie de l'incident</mat-card-subtitle><br><br>
  <p>Motif</p><br>

  <mat-card-content>

      <!-- <mat-card> -->
        <form class="example-form" [formGroup]="Form" (ngSubmit)="submit(Form)" >

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select id="valider" formControlName="valider" [errorStateMatcher]="matcher">
              <mat-option value="true">OUI</mat-option>
              <mat-option value="false">NON</mat-option>
            </mat-select>
            <mat-hint>Errors appear instantly!</mat-hint>
              <mat-error *ngIf="isSubmitted && valider.hasError('validere') && !valider.hasError('required')">
                Please enter a valid motif length
              </mat-error>
              <mat-error *ngIf="isSubmitted && valider.hasError('required')">
                motif is <strong>required</strong>
              </mat-error>
          </mat-form-field>
  
            <!-- <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Motif renvoi</mat-label>
              <textarea type="text" id="valider" formControlName="valider" matInput [errorStateMatcher]="matcher"
                     placeholder="veuillez inserer le motif"></textarea> -->
              <!-- <mat-hint>Errors appear instantly!</mat-hint>
              <mat-error *ngIf="isSubmitted && valider.hasError('validere') && !valider.hasError('required')">
                Please enter a valid motif length
              </mat-error>
              <mat-error *ngIf="isSubmitted && valider.hasError('required')">
                motif is <strong>required</strong>
              </mat-error> -->
            <!-- </mat-form-field> -->
        </form>
      <!-- </mat-card> -->

  </mat-card-content>

  <mat-divider inset></mat-divider>

  <!-- <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer> -->

</mat-card>
<br><br><br><br><br><br>

<mat-dialog-actions align="end" *ngIf="List">
  <button mat-button mat-dialog-close style="background-color: rgb(38, 192, 90); margin-bottom: 10px;" (click)="submit(Form)" [disabled]="!Form.valid">Valider</button><br>
  <button mat-button mat-dialog-close style="background-color: rgb(120, 120, 248);" (click)="close()">Fermer</button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>