<ion-header class="ion-no-border" >
  <ion-toolbar >
    <ion-title>
      Renvoi de Resultat
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModel()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="Form" (ngSubmit)="submit(Form)" class="mt-2 w-100 ion-padding" novalidate>

    <ion-item lines="full">
      <ion-label position="floating">Motif renvoi *</ion-label>
      <ion-textarea formControlName="motifRenvoi" id="motifRenvoi" type="text"  ></ion-textarea>
    </ion-item>

      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.motifRenvoi.errors?.required">
        motif Renvoi is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.motifRenvoi.errors?.minlength">
        motif Renvoi should be min 2 chars long.
      </span>

  </form>

  <div class="mt-3 text-center">
    <ion-button expand="block" fill="outline" (click)="submit(Form)" [disabled]="!Form.valid">
      <ion-icon slot="start" name="add"></ion-icon>
      Ajouter
    </ion-button>
  </div>

</ion-content>
